body h1, body h2, body h3, body h4, body h5, body h6 { margin-top: 2rem; }

.sponsors-block { width: 80%; }
.sponsors-block h3 { margin-top: 0rem; }

p.lead { padding-bottom: 1.5rem; }

body dd { padding-left: 1rem; }

.nav-item a { font-size: 120%; }

main a { color: #f67242; }
main a:hover { color: red; }
a.email { font-family: monospace; }
